<div id="navigation" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <!-- Mobile-only title -->
      <li class="name">
        <h1 class="show-for-small-only">
          <a href="{{ site.url }}{{ site.baseurl }}" class="site-title">STATCOM</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
  <a href="#" aria-label="Toggle navigation"><span>Menu</span></a>
</li>


    <section class="top-bar-section">
      <!-- Right side links -->
      <ul class="right">
        {% for link in site.data.navigation %}
          {% if link.side == 'right' %}
            {% if link.dropdown == nil %}
              <li class="divider"></li>
              <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}>
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url | relative_url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
              </li>
            {% else %}
              <li class="divider"></li>
              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url | relative_url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
                <ul class="dropdown">
                  {% for dropdown_link in link.dropdown %}
                    <li>
                      <a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ dropdown_link.url | relative_url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>

      <!-- Left side links -->
      <ul class="left">
        {% for link in site.data.navigation %}
          {% if link.side == 'left' %}
            {% if link.dropdown == nil %}
              <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}>
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url | relative_url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
              </li>
              <li class="divider"></li>
            {% else %}
              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url | relative_url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a>
                <ul class="dropdown">
                  {% for dropdown_link in link.dropdown %}
                    <li>
                      <a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ dropdown_link.url | relative_url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="divider"></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->

